.UserMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  padding-right: 2rem;
  padding-top: 0.5rem;
}

.UserMenu h3 {
  color: whitesmoke;
}
